<div class="nested-fields" style="border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :question %>
  <%= f.text_field :question %>

  <%= f.label :answer %>
  <%= f.text_field :answer %>

  <%= link_to_remove_association "Remove Section", f %>
</div>