<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="stats mt-5">
          <%= link_to admin_user_course_path(@user) do %>
            <h1 class="info-box-icon"><i class="fas fa-book-open mr-2"></i>Course</h1>
            <% end %>
        </section>
    </aside>

    <div class="col-md-8">
      <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
              <%= render @microposts %>
          </ol>
          <%= paginate @microposts %>
      <% end %>
    </div>
</div>